.ListGestionnaireContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:100%
  }
  .TheContainer{
    display: flex;
    width: 90vw;
   
    
  }
  
  .searchBar {
    margin-bottom: 20px;
  }
  
  .searchBarInput {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .addGestionnaireButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addGestionnaireButton:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  ListgestionnaireActions {
    display: flex;
    align-items: center;
  }
  
  .deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .deleteButton img {
    width: 19px;
  }
  
  .deleteButton:hover {
    opacity: 0.7;
  }
  
  .searchButton
  {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }

  .resetButton
  {
    padding: 10px 20px;
    background-color: #6e747a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
  }