/* .div1{
    display: flex;
   background-color:#FBFAF8;
    height: 100vh;
    width: 88%;
}
.div2{
    display: flex;
    flex-direction: column;
  

 
 align-items: center; 
    width: 100%;
}



.Profilemain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    width: 70%;
    height: 70%;
    
}
.imageprofile{
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
.Profileform{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   
    
}
.Profilegroup{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
 
  
}
.Profilelabel {
   
    font-weight: bold;
   
  }
  .Profilecontrol {
   width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .buttonGestion {
   font-size: 20px;
    background-color: #025BA4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 180px;
    margin-top: 10px;
    height: 50px;
    margin-right: 80px;
  }
  
  .buttonGestion:hover {
    background-color: #0056b3;
  } */