.div1{
    display: flex;
   background-color:#FBFAF8;
    height: 100vh;
}
.div2{
    display: flex;
    flex-direction: column;
  

 
 align-items: center; 
    width: 100%;
}

nav{
    background: #025BA4;
    width: 10%;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    width: 70%;
    height: 70%;
    
}
.image{
    display: flex;
    flex-direction: column;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   
    
}
form div{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
 
  
}
.label {
   
    font-weight: bold;
   
  }
  .control {
   width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .buttonGestion {
   font-size: 25px;
    background-color: #025BA4;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 350px;
    margin-top: 10px;
    margin-left: 150px;
    height: 70px;
  }
  
  .buttonGestion:hover {
    background-color: #0056b3;
  }